/bin/Windows/x86/Debug/Content/menu/main1.xnb
/bin/Windows/x86/Debug/Content/menu/main2.xnb
/bin/Windows/x86/Debug/GameSandbox.exe
/bin/Windows/x86/Debug/GameSandbox.pdb
/bin/Windows/x86/Debug/MonoGame.Framework.dll
/bin/Windows/x86/Debug/MonoGame.Framework.xml
/bin/Windows/x86/Debug/SharpDX.Direct2D1.dll
/bin/Windows/x86/Debug/SharpDX.Direct2D1.xml
/bin/Windows/x86/Debug/SharpDX.Direct3D11.dll
/bin/Windows/x86/Debug/SharpDX.Direct3D11.xml
/bin/Windows/x86/Debug/SharpDX.dll
/bin/Windows/x86/Debug/SharpDX.DXGI.dll
/bin/Windows/x86/Debug/SharpDX.DXGI.xml
/bin/Windows/x86/Debug/SharpDX.MediaFoundation.dll
/bin/Windows/x86/Debug/SharpDX.MediaFoundation.xml
/bin/Windows/x86/Debug/SharpDX.XAudio2.dll
/bin/Windows/x86/Debug/SharpDX.XAudio2.xml
/bin/Windows/x86/Debug/SharpDX.XInput.dll
/bin/Windows/x86/Debug/SharpDX.XInput.xml
/bin/Windows/x86/Debug/SharpDX.xml
/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/x86/Debug/GameSandbox.csproj.CopyComplete
/obj/x86/Debug/GameSandbox.csproj.CoreCompileInputs.cache
/obj/x86/Debug/GameSandbox.csproj.FileListAbsolute.txt
/obj/x86/Debug/GameSandbox.csprojAssemblyReference.cache
/obj/x86/Debug/GameSandbox.exe
/obj/x86/Debug/GameSandbox.pdb
/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
